.cool{
  background-color:lightpink;
  transition: background-color 1s;
}
.coolred{
  background-color:coral;
  transition: background-color 1s;
}
h1{
  font-family: Raleway;
  text-align: center;
}
a{
  text-align: center;
  font-family: Raleway;
}
