.cool{
  background-color:lightpink;
  transition: background-color 1s;
}
.coolred{
  background-color:coral;
  transition: background-color 1s;
}
body{
  font-family: Raleway;
  text-align: center;
}
